h1{
    color: rgb(14, 129, 229);
}


select{    
    background-color: rgb(245, 237, 4); 
    width: 250px; 
    height: 30px;
    font-weight: bold;
    border-radius: 4px;
}
    
    #uf{
        width: 100px;
    }

option{
    font-weight: bold;  
}









